sef-notification-engine/src/main/resources/charging-adapter-api/wsdl/parlayx_payment_types_2_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- January 5, 2006 -->
<xsd:schema
   targetNamespace="http://www.csapi.org/schema/parlayx/payment/v2_1"
   xmlns:parlayx_payment_xsd="http://www.csapi.org/schema/parlayx/payment/v2_1"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema">

   <xsd:complexType name="Property">
      <xsd:sequence>
         <xsd:element name="name" type="xsd:string"/>
         <xsd:element name="value" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
